#
# Sony Playstation 2 configuration
#

menu "Sony Playstation 2 devices"

config PS2_IOP_FIO
        tristate "Support for IOP file operations"
        default y
        depends on SONY_PS2

endmenu
